$primary: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$white: #fff;
$very-light-blue: hsl(240, 78%, 98%);
$light-blue: hsl(234, 14%, 74%);
$blue: hsl(233, 13%, 49%);
$dark-blue: hsl(232, 13%, 33%);

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

html {
  box-sizing: border-box;
  color: $dark-blue;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

html, body {
  height:100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

.container {
  background: $very-light-blue url('../images/bg-top.svg');
  background-position: right top;
  background-repeat: no-repeat;
  display: flex;
  display: -ms-flexbox;;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2% 12.5%;
  text-align: center;
  width: 100%;
}

.toggle-wrapper {
  align-items: center;
  color: $blue;
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
}

.toggle {
  display: inline-flex;
  margin: 2rem 1rem;
}

input[type=checkbox]{
  height: 0;
  visibility: hidden;
  width: 0;
}

label {
  background: $primary;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  height: 30px;
  position: relative;
  text-indent: -9999px;
  width: 60px;

  &:after {
    content: '';
    background: $very-light-blue;
    border-radius: 90px;
    height: 20px;
    left: 5px;
    position: absolute;
    top: 5px;
    transition: 0.3s;
    width: 20px;
  }

  &:active {
    &:after {
      width: 60px;
    }
  }
}

input{
  &:checked + label {
	background: $primary;
  }
} 

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.pricing-wrapper {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.pricing {
  background-color: $white;
  border-radius: 15px;
  flex-basis: 33%;
  height: 90%;
  padding: 2%;

  &.active {
    background: $primary;
    color: $very-light-blue;
    height: 100%;
    padding: 4% 2%;
  }
}

.money {
  font-size: 3rem;
  padding: 1.5rem 0;
}

.features {
  &li:first-child {
    border-top: 1px solid $light-blue;
  }
}

.feature-item {
  border-bottom: 1px solid $light-blue;
  line-height: 3rem;
  list-style-type: none;
}

.learn-more {
  background: $primary;
  border: 1px solid $light-blue;
  border-radius: 15px;
  color: $very-light-blue;
  font-size: 15px;
  line-height: 3rem;
  margin-top: 2rem;
  text-transform: uppercase;
  width: 90%;

 &.active,
 &:hover {
  background: $very-light-blue;
  color: $dark-blue;
 }

 &.active {
  &:hover {
    background: $primary;
    color: $very-light-blue;
  }
 }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 650px) {
  body, html {
    height: auto;
  }
  .container {
    padding: 2% 7.5%;
  }
  .pricing-wrapper {
    flex-direction: column;
  }
  .pricing {
    flex-basis: 100%;
    margin-bottom: 5%;
    width: 100%;
  }
}